<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
	<table border="1">
		<tr th:each="user : ${users}">
			<td th:text="'id: ' + ${user.id}">id</td>
			<td th:text="'firstName: ' + ${user.firstName}">first name</td>
			<td th:text="'lastName: ' + ${user.lastName}">last name</td>
			<td th:text="'email: ' + ${user.email}">email</td>
		</tr>
	</table>
	<a href="/adduser">Submit another message</a>
</body>
</html>